.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form {
    color: rgb(3, 58, 58);
}

.register-form input {
    display: block;


    width: 80%;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    margin: 10px auto;
    border: none;
    border: 1px solid rgb(16, 1, 31);
    border-radius: 5px;
    box-shadow: 8px 6px 2px 1px rgba(229, 229, 241, 0.2);
}